/* handrawn font */
@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);


body {
  background-color: #64a4a0;
}

/* .wiki-container {
  border: true;
} */

.wiki-card {
  border:solid 2px #41403E;
}

.search-bar {
  /* border style, thickness, and color */
  border:solid 3px #41403E;
  /* handrawn border */
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  /* shadow on field */
  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
  /* background of search bar matches page background */
  background:transparent;
  /* font size */
  font-size: 2rem;
  /* removes blue border around field */
  outline: none;
  /* handrawn font */
  font-family: 'Patrick Hand SC', cursive;
}

/* removes X icon from search fields */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }